%h2
  Shelfless Data Protection Notification
  Effective on 2015-14-04
%dl
  %dt
    1. Introduction
  %dd
    Shelfless, Pohlstrasse 73, 10785 Berlin, Germany (thereafter “Shelfless” or “we”) operates a platform for book sharing,swapping or gifting on the internet portal http://www.shelfless.de.
    We are happy that you are interested in Shelfless. For providing you with our service, we will need certain information about you. This data protection notification elaborates which data we collect from you for what purpose.
    If you should not consent to this data protection notification, please do not use Shelfless.
  %dt
    2. Collection, Use and Processing of Data
  %dd
    Shelfless, Pohlstrasse 73, 10785 Berlin, Germany (thereafter “Shelfless” or “we”) operates a platform for book sharing,swapping or gifting on the internet portal http://www.shelfless.de.
    We are happy that you are interested in Shelfless. For providing you with our service, we will need certain information about you. This data protection notification elaborates which data we collect from you for what purpose.
    If you should not consent to this data protection notification, please do not use Shelfless.
    “Personal data” shall be data that can identify you personally (e.g. name, e-mail address) and other information that can be connected to this type of information and that allow a conclusion regarding your identity.
  %dd
    %dt
      2.1 Registration Data
    %dd
      If you register with Shelfless we will collect personal data that you voluntarily submit with registration. In particular, these are your e-mail address and your selected password.
      We use this data without your explicit consent only for performing our offered services. We will only forward your personal data without your explicit consent to third parties if this is necessary for performing our services or for complying with statutory obligations (see cipher 3 below).
      We save all your registration data so that we can use them for performing Shelfless’s services. The data will be deleted after the end of the contract as soon as they are not needed. If a deletion conflicts with statutory, contractual or by-law imposed storage periods, the data shall be suspended instead.
    %dt
      2.2 Registration via Facebook Connect
    %dd
      If you opt to connect with Shelfless via your Facebook Account Log-In, which is operated by Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA (“Facebook”), you allow us to collect authentication information like your user name, encoded access information and other information that is available on or through your Facebook-Account, e.g. your name, your profile picture, your country, your hometown, your email-address, your birth date, your sex, the names and profile pictures of your friends and networks. Using Facebook Connect shall be subject to Facebook’s data protection policies and terms of use. With this feature, certain data from the Shelfless website can be transferred to your Facebook profile with your consent.
      The specific information that is transferred to us will be individually listed during your first log-in with Shelfless via Facebook in detail. With registration on our website via Facebook Connect, you consent to profile data transfer from your Facebook profile to Shelfless as well as to the transfer of data to Facebook for using of Shelfless. Your data transferred through Facebook Connect will be saved and processed by us for registration purposes on the Shelfless platform.
    %dt
      2.3 Personal Usage Data
    %dd
      If you are using Shelfless services, we will automatically collect personal usage data that is necessary for performing the services. Personal data shall only be collected if you provide us with these when opening a user account. In accordance with statutory provisions and for the purpose of data economy, generally only data necessary for the respective service shall be collected.
      In particular, these are your e-mail address, your password, your country and your language. In the event that you connect via Facebook Connect, we will also collect your first and family name. To the extent that our forms ask for further information, such information shall always be optional and will be marked as such.
      We will use your provided data without your separate consent only for fulfilling and performing of our services and for complying with statutory requirements. Forwarding of your personal data to third parties shall only occur if this is necessary for performing our services or for complying with statutory requirements.
      Your accruing personal data regarding the access history will be deleted immediately after its termination or, if this is legally forbidden, suspended.
  %dt
    3. Security
  %dd
    Data protection of our users is a special concern for us. Your password protects your user account and should be thus a strong password that is not used elsewhere. You should restrict access to your computer and browser and you should log-off after using Shelfless services.
    The Shelfless portal and our systems are protected through technical and organizational measures against loss, destruction, access, alteration or distribution of your data through unauthorized parties. A complete protection against all hazards is however not possible in-spite of frequent controls.
  %dt
    4. Links
  %dd
    Shelfless shall be entitled to display advertisement or other contents that contain hyperlinks to third-party websites. Only the provider of the website referred to shall be liable for illegal, erroneous or incomplete contents and particularly for damages that result from use or non-use of these links. We have no influence particularly on the data protection measures and contents of the sites linked to.
  %dt
    5. Access and Update of Profile Data, Deletion
  %dd
    You can access and change your profile data via your account-settings.
  %dt
    6.Information about Saved Data, Contact
  %dd
    If you have any questions or comments about this data protection notification or your personal data, please contact us via pro.verhagen@gmail.com.You can certainly always request free of charge information regarding data we saved about you, e.g. via e-mail pro.verhagen@gmail.com. We will answer within an appropriate period after proof of identity. You may possibly be entitled to request that your data will be corrected, suspended or deleted.
  %dt
    7. Change of Data Protection Notification
  %dd
    We will occasionally change this data protection notification in order to incorporate new functions, features, products or services and to ensure the protection of your personal data. These changes and the current data protection notification are available on this site for you anytime. If we are making material changes, particularly regarding collection, use or processing of your personal data, we will notify you of this via e-mail or inform you no later than during your next Shelfless login.
