%h4
  =I18n.t('book_request.mail.user_welcome', name: @holder.full_name)
.row
  %p
    =I18n.t('book_request.mail.reader_ask_extension',reader: @reader.full_name, book: @book.title)
  %ul
    %li
      =link_to(I18n.t('book_request.mail.holder_return_option.extend'),extend_account_holder_book_requests_url(account_id: @holder.id, book_id: @book.id, id: @book_request.id))
    %li
      =I18n.t('book_request.mail.holder_return_option.return_request', href: link_to(t("book_request.mail.return"), return_now_account_holder_book_requests_url(account_id: @holder.id, book_id: @book.id, id: @book_request.id))).html_safe
%p
  =I18n.t('book_request.mail.contact_form')
%p
  =I18n.t('mail.slogan')
