%h4
  =I18n.t('book_request.mail.user_welcome', name: @holder.full_name)
.row
  %p
    =I18n.t('book_request.mail.holder_return_option.times_up',reader: @reader.full_name, book: @book.title)
  %p
    =I18n.t('book_request.mail.holder_return_option.choosen_text')
  %ul
    %li
      =I18n.t('book_request.mail.holder_return_option.extend', href: link_to(t("book_request.mail.return"), books_url)).html_safe
    %li
      =I18n.t('book_request.mail.holder_return_option.return_request', href: link_to(t("book_request.mail.return"), books_url)).html_safe
    %li
      =I18n.t('book_request.mail.holder_return_option.already_returned', href: link_to(t("book_request.mail.returned"), books_url)).html_safe
%p
  =I18n.t('book_request.mail.contact_form')
%p
  =I18n.t('mail.slogan')
